<div 
class="square float-left"
[class.playable]="space.playable"
[class.notplayable]="!space.playable"
[class.highlight]="space.highlight">
	<div *ngIf="space.piece" 
    	(click)="service.clickAPiece(space.piece)"
    	class="style=width: 100%; height: 100%">
    		<div *ngIf="space.piece.type ==='pawn'">
	    		<pawn [pawn]="space.piece"></pawn>
    		</div>
    		<div *ngIf="space.piece.isRed==true && space.piece.type === 'king'" 
	    	class="d-flex justify-content-center">
	    		<img src="./assets/Images/red_king.png" 
	    		style="width: 95%; height: 95%">
    		</div>
    		<div *ngIf="space.piece.isRed==false && space.piece.type === 'king'" 
    		class="d-flex justify-content-center">
	    		<img src="./assets/Images/black_king.png" 
	    		style="width: 95%; height: 95%">
    		</div>
		</div>
		<div *ngIf="space.playable && !space.piece"
		style="width: 100%; height: 100%"
		(click)="service.clickEmptySpace(space)">
	</div>
</div>